<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @pundit.name %>
</p>

<p>
    <strong>Predictions:</strong>
</br>

<% @pundit.predictions.each do |t| %>
    <%= link_to t.content, '/predictions/' + t.id.to_s %>
</br>
<% end %>

</p>

<%= render 'add_prediction' %>

<%= link_to 'Back', pundits_path %>
