<div class="row text-left">
<%= form_for(@review) do |f| %>
    <% if @review.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this pundit from being saved:</h2>

	    <ul>
		<% @prediction.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <div class="field">
	<div class="large-10 large-centered columns">
	    <%= f.text_field :title, placeholder: "Title" %>
	</div>

	<div class="large-10 large-centered columns">

	    <%= f.number_field :rating, placeholder: 'Rating (0 - 100)'%>
	</div>

	<div class="large-10 large-centered columns">
	    <%= f.text_area :content, placeholder: 'Review', rows: 10, cols: 30 %>
	</div>

	<%= f.hidden_field :prediction_id, :value => @prediction.id %>
    </div>
    <div class="actions">
	<%= f.submit %>
    </div>
<% end %>
</div>
