<p id="notice"><%= notice %></p>

<p>
    <strong>Pundit:</strong>
    <%= @prediction.pundit.name %>
</p>

<p>
  <strong>Prediction:</strong>
  <%= @prediction.content %>
</p>

<p>
    <strong>Reviews</strong>
    </br>
    <% @reviews.each do |review| %>
	<div class="border border-box glassy-bg mt pt">
	    <td> <strong> <%= review.title %> </strong></td>
	    <td> <%= render :partial => 'review', :object => review %> </td>
            <td><%= review.content %></td>
	</div>
    </br>
    <% end %>

</p>


<%= link_to 'Add Review', '/new_review/' + @prediction.id.to_s %>
<%= link_to 'Back', predictions_path %>
