<p id="notice"><%= notice %></p>

<p>
    <strong>Pundit:</strong>
    <%= @prediction.pundit.name %>
</p>

<p>
  <strong>Prediction:</strong>
  <%= @prediction.content %>
</p>

<p>
    <strong>Reviews</strong>
    </br>
    <% @reviews.each do |review| %>
	<tr>
	    <td><%= review.rating %></td>
            <td><%= review.content %></td>
	</tr>
    </br>
    <% end %>

</p>

<p>
    <%= render 'add_review'  %>
</p>

<%= link_to 'Back', predictions_path %>
