<p id="notice"><%= notice %></p>

<p>
    <strong>Pundit:</strong>
    <%= @prediction.pundit.name %>
</p>

<p>
  <strong>Prediction:</strong>
  <%= @prediction.content %>
</p>

<p>
    <strong>Reviews</strong>
    </br>
    <% @reviews.each do |review| %>
	<tr>
	    <td> <%= render :partial => 'review', :object => review %> </td>
            <td><%= review.content %></td>
	</tr>
    </br>
    <% end %>

</p>


<%= link_to 'Add Review', '/new_review/' + @prediction.id.to_s %>
<%= link_to 'Back', predictions_path %>
