<p id="notice"><%= notice %></p>

<p>
    <strong>Pundit:</strong>
    <%= @prediction.pundit.name %>
</p>

<p>
  <strong>Prediction:</strong>
  <%= @prediction.content %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
